<% @students.each do |student| %>
  <section id = "student-<%= student.id %>">
    <p><%= student.name %>: <%= student.total_professors %></p>
    <% student.professors.each do |professor| %>
      <p> <%= professor.name %></p>
    <% end %>
  </section>
<% end %>
