<h1>Professors</h1>
<h2><% @professors.each do |professor| %></h2>
  <section id = "professor-<%= professor.id %>">
    <p><%= professor.name %></p>
    <p><%= professor.age %></p>
    <p><%= professor.specialty %></p>
  </section>
<% end %>
